kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ns-access-for-admin-{{ smcp_ns }}
  namespace: {{ smcp_ns }}
rules:
- apiGroups: [""]
  resources: ["*"]
  verbs: ["*"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: access-all-{{ smcp_ns }}
  namespace: bokretail-istio-system
subjects:
- kind: User
  name: {{ smcp_admin }}
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: ns-access-for-admin-{{ smcp_ns }}
  apiGroup: rbac.authorization.k8s.io